*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  background-color: red;
  list-style-type: none;
  max-width: 800px;
  height:10;
  align-items: center;
  color: white;
}
*{
  text-decoration: none;
}
ul{
  display: flex;
  justify-content: space-between;
}
